doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="icon", href=favicon)

  body(class=theme)
    h1 User List
    ul
      each user in users
        li
          a(href=`/users/${user.id}`) #{user.name}
